@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background: oklch(1.00000 0.00000 0);
  --foreground: oklch(0.14100 0.00500 285.82300);
  --card: oklch(1.00000 0.00000 0);
  --card-foreground: oklch(0.14100 0.00500 285.82300);
  --popover: oklch(1.00000 0.00000 0);
  --popover-foreground: oklch(0.14100 0.00500 285.82300);
  --primary: oklch(0.73729 0.15137 165.15051);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.99934 0.00006 214.28654);
  --secondary-foreground: oklch(0.14100 0.00500 285.82300);
  --accent: oklch(0.99936 0.00013 151.98935);
  --accent-foreground: oklch(0.14100 0.00500 285.82300);
  --destructive: oklch(0.58058 0.20710 29.10827);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.97022 0.00116 176.62154);
  --muted-foreground: oklch(0.14100 0.00500 285.82300);
  --border: oklch(0.92751 0.00699 176.43742);
  --input: oklch(0.92751 0.00699 176.43742);
  --ring: oklch(0.73729 0.15137 165.15051);
}

.dark {
  --background: oklch(0.18157 0.00885 175.15821);
  --foreground: oklch(0.98500 0.00000 0.00000);
  --card: oklch(0.22415 0.01280 174.87686);
  --card-foreground: oklch(0.98500 0.00000 0.00000);
  --popover: oklch(0.21010 0.00889 175.36746);
  --popover-foreground: oklch(0.98500 0.00000 0.00000);
  --primary: oklch(0.83072 0.16065 166.92379);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.30555 0.05332 219.80028);
  --secondary-foreground: oklch(0.98500 0.00000 0.00000);
  --accent: oklch(0.33451 0.10255 145.35578);
  --accent-foreground: oklch(0.98500 0.00000 0.00000);
  --destructive: oklch(0.58058 0.20710 29.10827);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.28191 0.01802 174.64149);
  --muted-foreground: oklch(0.98500 0.00000 0.00000);
  --border: oklch(0.28853 0.01445 175.11383);
  --input: oklch(0.28853 0.01445 175.11383);
  --ring: oklch(0.83072 0.16065 166.92379);
}

body {
    overflow-y: scroll;
}

.recharts-cartesian-grid-horizontal line {
	stroke-dasharray: 0;
	stroke-opacity: 0.6 !important;
	stroke: var(--gray-7);
}

.recharts-cartesian-grid-vertical line {
	stroke-opacity: 0 !important;
}

.rt-BaseTabList {
	box-shadow: none;
}
