@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background: oklch(1.00000 0.00000 0);
  --foreground: oklch(0.14100 0.00500 285.82300);
  --card: oklch(1.00000 0.00000 0);
  --card-foreground: oklch(0.14100 0.00500 285.82300);
  --popover: oklch(1.00000 0.00000 0);
  --popover-foreground: oklch(0.14100 0.00500 285.82300);
  --primary: oklch(0.73729 0.15137 165.15051);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.99934 0.00006 214.28654);
  --secondary-foreground: oklch(0.14100 0.00500 285.82300);
  --accent: oklch(0.99936 0.00013 151.98935);
  --accent-foreground: oklch(0.14100 0.00500 285.82300);
  --destructive: oklch(0.58058 0.20710 29.10827);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.97022 0.00116 176.62154);
  --muted-foreground: oklch(0.14100 0.00500 285.82300);
  --border: oklch(0.92751 0.00699 176.43742);
  --input: oklch(0.92751 0.00699 176.43742);
  --ring: oklch(0.73729 0.15137 165.15051);
}

.dark {
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(37% 0.077 168.94);
  --color-base-content: oklch(87% 0.006 286.286);
  --color-primary: oklch(37% 0.077 168.94);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(37% 0.077 168.94);
  --color-accent-content: oklch(98% 0.001 106.423);
  --color-neutral: oklch(43% 0.095 166.913);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;

  --background: var(--color-base-200);
  --navbar: var(--color-base-100);
  --icon: var(--color-info);
  --icon-secondary: var(--color-success);
  --icon-tertiary: var(--color-warning);
  --foreground: var(--color-base-content);
  --card: var(--color-base-100);
  --card-foreground: var(--color-base-content);
  --popover: var(--color-base-200);
  --popover-foreground: var(--color-base-content);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-content);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-content);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-content);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-error-content);
  --muted: var(--color-neutral);
  --muted-foreground: var(--color-base-content);
  --border: var(--color-neutral);
  --input: var(--color-neutral);
  --ring: var(--color-primary);
}

body {
    overflow-y: scroll;
}

.recharts-cartesian-grid-horizontal line {
	stroke-dasharray: 0;
	stroke-opacity: 0.6 !important;
	stroke: var(--gray-7);
}

.recharts-cartesian-grid-vertical line {
	stroke-opacity: 0 !important;
}

.rt-BaseTabList {
	box-shadow: none;
}
